.header {
  max-width: 1440px;
  background-color: #050404;
}

.menu {
  margin: 0;
  padding: 0;
}

.menu-item {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
}

.menu-list {
  display: inline-block;
}

.blog {
  color: #ffb822;
}
